body{
       background-color:#BCFFB9;
      
     }
     p{
          font: italic small-caps bold 16px/2 cursive;
     }
     hr{
       border-style: none;
       border-top-style: dotted;
       border-color:#535204;
       border-width: 5px;
       width :10%;
       
       

       
     }
     h1{
         color: #01937C;
         font: italic small-caps bold 16px/2 cursive;
         font-size:30px;
     }
     h3{
            color: #01937C;
         font: italic small-caps bold 16px/2 cursive;
     }


